* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1.title {
  margin-bottom: 40px;
  color: green;
  text-align: center;
}

.list_01 li {
  display: inline-block;
}

.list_01 li a {
  background: #333;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  text-transform: uppercase;
}

.list_02 li {
  display: inline-block;
}

.container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
