.container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #778beb;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 36px;
  border-radius: 6px;
  transition: background-color 0.3s;
  display: block;
}

button:hover {
  background-color: #333;
}

.spring {
  background-color: #cc8e35;
}

.summer {
  background-color: #0abde3;
}

.fall {
  background-color: #e15f41;
}

.winter {
  background-color: #574b90;
}
