* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  background-color: yellow;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

h1 {
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
}
