* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #333;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards {
  cursor: pointer;
  width: 340px;
  height: 480px;
}

.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-content h2 {
  font-size: 2.6rem;
}

.back-content span {
  margin: 0.4rem 0 1rem;
  font-size: 20px;
}

.back-content .icon {
  display: flex;
}

.back-content .icon a {
  display: inline-flex;
  margin: 0 4px;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333;
  font-size: 20px;
  transition: all 0.4s;
  border-radius: 50%;
}

.back-content .icon a:hover {
  background: #333;
  color: #fff;
}

.front {
  transform: perspective(1200px) rotateY(0deg);
}

.back {
  background: #f1f1f1;
  transform: perspective(1200px) rotateY(180deg);
}

.cards:hover .front {
  transform: perspective(1200px) rotateY(-180deg);
}

.cards:hover .back {
  transform: perspective(1200px) rotateY(0deg);
}
