<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coffee</title>
    <link rel="stylesheet" href="./coffee.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="inner">
          <div class="logo">
            <a href="#">
              <img src="./images/logo.png" alt="logo" />
            </a>
          </div>
          <ul class="nav">
            <li><a href="#">소개</a></li>
            <li><a href="#">위치</a></li>
            <li><a href="#">주문</a></li>
            <li><a href="#">메뉴</a></li>
            <li><a href="#">새소식</a></li>
          </ul>
          <div class="buttons">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="photos">
          <div class="photo-01">
            <img src="./images/top_img_01.png" alt="" />
            <img src="./images/top_img_02.png" alt="" />
          </div>
          <div class="photo-02">
            <img src="./images/top_img_03.png" alt="" />
          </div>
        </div>
        <div class="greeting">
          <h2>About Coffee...</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            repellat autem praesentium blanditiis numquam voluptates eius illum
            enim officia obcaecati corporis cupiditate eligendi quae debitis,
            adipisci accusamus totam aperiam excepturi!
          </p>
          <a href="#">button</a>
        </div>
      </div>
      <div class="section gray-box">
        <div class="red-box"></div>
      </div>
    </div>
  </body>
</html>
