<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 04</title>
    <link rel="stylesheet" href="./layout_04.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-container">
          <div class="logo">logo</div>
        </div>
        <div class="nav-container">
          <div class="nav">nav</div>
        </div>
      </div>

      <div class="contents">contents</div>

      <div class="footer-container">
        <div class="footer">footer</div>
      </div>
    </div>
  </body>
</html>
