<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 03</title>
    <link rel="stylesheet" href="./layout_03.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo">logo</div>
        <div class="nav">nav</div>
      </div>
      <div class="section">
        <div class="left">left</div>
        <div class="contents">contents</div>
      </div>
      <div class="footer">footer</div>
    </div>
  </body>
</html>
