* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #111;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px 16px;
}

header {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav .logo {
  width: 120px;
}

nav .bars i {
  font-size: 30px;
}

form {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 20px;
}

form input::placeholder {
  color: #999;
}

form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  font-size: 22px;
  color: #999;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: repeat(auto-fit); */
  gap: 20px;
}

.item {
  width: 100%;
  position: relative;
}

.item .photo {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.item .info h3 {
  font-size: 14px;
  color: #111;
  margin: 10px 0 16px;
}

.item .info p {
  font-size: 10px;
}

.item .photo img {
  transition: transform 0.3s;
}

.item .photo:hover img {
  transform: scale(1.05);
}

.more {
  text-align: center;
  padding: 20px 0;
}

.load_more {
  display: inline-block;
  border: 1px solid #05a081;
  background: #fff;
  color: #05a081;
  padding: 8px 12px;
  font-size: 12px;
}

.load_more:hover {
  background: #05a081;
  color: #fff;
}

@media (min-width: 900px) {
  form {
    margin-bottom: 40px;
  }
}
